@model IEnumerable<Fall2025_Project3_jdpeacock.Models.ActorMovie>

@{
    ViewData["Title"] = "List of Movie-Actor Relationships";
}

<h1>List of Movie-Actor Relationships</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover" data-table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Actor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Actor.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>